@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch" , sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.contain {
    width: 100%;
    height: 150vh;
    background: #3f3f3f;
}
.contain h1 {
    font-size: 13.5vw;
    text-align: center;
    color: #fff;
    position: sticky;
    top: 0;
}
.contain span {
    color: orange;
}
.phone_main {
    width: 350px;
    height: 720px;
    background: url(/presentation/images/iphoebg.png);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 50px;
}
.bezel {
    width: 100%;
    height: 100%;
    border: 10px solid #000;
    border-radius: 50px;
}
.notch {
    position: absolute;
    width: 120px;
    height: 30px;
    background: #000;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 9px;
    left: 115px;
}
.camera {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    background: rgba(211, 211, 211, 0.5);
    filter: blur(3px);
}
.phone_inner {
    width: 326px;
    height: 706px;
    padding: 16px 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.info_bar {
    width: 290px;
    height: 12.016px;
    margin-bottom: 16px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}
.info_bar > #time {
    width: 32.109px;
    height: 12px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 12px;
    font-weight: bold;
}
.info_bar > img {
    width: 72px;
    height: 100%;
}
.mainCon {
    margin: 30px 0;
    width: 100%;
    height: 500px;
    position: relative;
}
.mainCon > .aboutMe {
    width: 100%;
    height: 90px;
    padding: 2px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.aboutMe:hover {
    transform: scale(1.1);
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
.aboutMe > h4 {
    color: #fff;
}
.aboutMe > .mySns {
    width: 100%;
    height: 30px;
    display: flex;
}
.mySns > p {
    line-height: 30px;
    color: #fff;
}
.snsHref {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: start;
}
.snsHref a {
    display: block;
}
.snsHref i {
    font-size: 22px;
    color: #fff;
    margin-left: 15px;
    line-height: 30px;
}
.snsHref a > i {
    color: #fff;
}
.myInfo {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.myInfo > p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.myInfo > p:nth-child(2) {
    margin-left: 20px;
    color: #fff;
}
.myInfo > p:nth-child(3) {
    margin-left: 10px;
    color: #fff;
}
.profile {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
    position: relative;
}
.img_hide {
    width: 100%;
    height: 100%;
    line-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition: all 0.5s;
}
.img_hide:hover {
    background-color: rgba(255, 255, 255, 0);
    color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}
.profile > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    object-fit: cover;
}
.pointing {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}
.pointing  i {
    color: #000;
}
.apps_contain {
    width: 100%;
    height: 120px;
    margin-top: 60px;
}
.apps_contain > ul {
    display: flex;
    justify-content: space-between;
}
.apps_contain > ul > li {
    width: 50px;
    height: 50px;
    background: orange;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
}
.apps_contain > ul > li > a > i {
    font-size: 50px;
    color: #fff;
}
.apps_contain > ul > li:first-child {
    background: linear-gradient(to top , yellow , red , purple);
}
.apps_contain > ul > li:nth-child(2) {
    background: #fff;
}
.apps_contain > ul > li:nth-child(2) i {
    color: rgb(31, 175, 232);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apps_contain > ul > li:nth-child(4) {
    background: #fff;
}
.apps_contain > ul > li:nth-child(4) i {
    color: rgb(79, 42, 168);
    font-size: 40px;
    line-height: 50px;
}
.apps_contain > ul > li:first-child > a > i {
    font-size: 40px;
    line-height: 50px;
}
.apps_contain > ul > li > a > img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin-top: 2.5px;
}
.apps_contain > ul > li:nth-child(3) {
    background: #fff;
}
.apps_contain > .second {
    margin-top: 20px;
}
#openModal {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 10px;
}
#openModal > h3 {
    text-align: center;
    line-height: 50px;
}
#modalBox {
    width: 100%;
    height: 150vh;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    /* display: none; */
}
#modalInfo {
    width: 600px;
    height: 400px;
    background: #eee;
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 20px;
}
#closeModal {
    width: 100px;
    height: 40px;
    background: red;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
}
#closeModal i {
    font-size: 40px;
    color: #fff;
}
.bar {
    width: 150px;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    position: absolute;
    bottom: 20px;
    left: 90px;
    animation: bounce 5s infinite linear;
}
@keyframes bounce {
    0% , 40% , 80%{
        transform: translateY(-2px);
    }
    20%, 60%,99% ,100% {
        transform: translateY(0);
    }
}